.sitenav {
    display: flex;
    flex-wrap: wrap;
}

.navlink {
    margin-bottom: 15px;
}

.navlink:first-child {
    margin-right: 10px;
}

.nav-btn {
    text-decoration: none;
    cursor: pointer;
    background-color: #eee;
    padding: 10px;
    height: 0;
}

.nav-btn:hover {
    background-color: lightgray;
}

.nav-btn-previous::before {
    content: "⮜";
    color: green;
    font-size: 22px;
}

.nav-btn-next::after {
    content: "➤";
    color: green;
    font-size: 22px;
}
